In [1]:
__author__ = 'So Negishi'
__copyright__ = 'Copyright 2019, So Negishi'
__license__ = 'GPL'
__version__ = '0.0.2'
__maintainer__ = 'So Negishi'
__email__ = 'sonegishi_2020@depauw.edu'
__status__ = 'Development'

In [2]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
import os
import pandas as pd
from keplergl import KeplerGl
from collections import defaultdict, OrderedDict
from aviation_map import AviationMap
from aviation_network import AviationNetwork

## Import data

In [3]:
vertices_df = pd.read_csv('./processed_data/vertices.csv', header=0)
print(vertices_df.shape)
vertices_df = vertices_df[
    (vertices_df.in_charge) &
    (vertices_df.name.str.contains('Air Force Base') == False) &
    (vertices_df.init_capacity != 0)]
print(vertices_df.shape)
vertices_df.tail(5)

(1878, 10)
(119, 10)

,iata,name,country,region,latitude,longitude,facility_type,init_capacity,security_level,in_charge
1538,TXK,Texarkana Regional Webb Field,US,US-AR,33.453701,-93.990997,medium_airport,218,20,True
1540,TYR,Tyler Pounds Regional Airport,US,US-TX,32.354099,-95.402397,medium_airport,310,20,True
1553,UIN,Quincy Regional Baldwin Field,US,US-IL,39.942699,-91.194603,medium_airport,102,20,True
1586,VPS,Destin-Ft Walton Beach Airport,US,US-FL,30.483200,-86.525398,large_airport,1431,30,True
1617,XNA,Northwest Arkansas Regional Airport,US,US-AR,36.281898,-94.306801,medium_airport,2547,20,True

In [4]:
edges_df = pd.read_csv('./processed_data/edges.csv', header=0)
print(edges_df.shape)
unique_airport_list = vertices_df.iata.unique()
edges_df = edges_df[(edges_df.origin.isin(unique_airport_list)) & (edges_df.dest.isin(unique_airport_list))]
print(edges_df.shape)
edges_df.tail(5)

(5503, 3)
(1063, 3)

     origin dest  num_of_flights
5467    DEN  SGU              10
5468    LAX  SGU               5
5469    SGU  LAX               4
5470    SGU  DEN               9
5499    AUS  BTR               1

## Export a map

In [5]:
aviation_map = AviationMap(vertices_df, edges_df)
aviation_map.create_map(filename='./visualization/ns_flight_map')

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md
Map saved to ./visualization/ns_flight_map.html!

KeplerGl(data={'flights': {'type': 'FeatureCollection', 'features': [{'type': 'Feature', 'geometry': {'type': â€¦

## Solve the maximum flow problem

In [6]:
aviation_network = AviationNetwork(vertices_df)
results = aviation_network.compute_min_max_flow(max_attacks=15, max_attack_per_airport=1)

1st & DFW & 459,266 & 4.87\% & 4.87pts \\
2nd & DEN & 439,813 & 4.33\% & -0.54pts \\
3rd & LAX & 424,013 & 3.66\% & -0.67pts \\
4th & IAH & 410,883 & 3.15\% & -0.51pts \\
5th & LAS & 398,549 & 3.05\% & -0.10pts \\
6th & PHX & 386,443 & 3.08\% & 0.04pts \\
7th & SFO & 374,579 & 3.12\% & 0.03pts \\
8th & SAN & 367,741 & 1.84\% & -1.28pts \\
9th & BNA & 361,563 & 1.69\% & -0.15pts \\
10th & DAL & 356,148 & 1.51\% & -0.19pts \\
11th & STL & 351,113 & 1.42\% & -0.09pts \\
12th & AUS & 346,197 & 1.41\% & -0.01pts \\
13th & SJC & 341,350 & 1.41\% & 0.00pts \\
14th & HOU & 336,974 & 1.29\% & -0.12pts \\
15th & MSY & 332,853 & 1.23\% & -0.06pts \\